*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/fondo2.jpeg);
    object-fit: cover;
    background-attachment: fixed;
    
}
.titulo{
  text-align: center;
  color: rgba(12, 11, 11, 0.65);
  letter-spacing: 2px;
  text-shadow: 10px 10px 10px rgb(32, 31, 31);
}

.tracking-in-expand {
-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
              0% {
                letter-spacing: -0.5em;
                opacity: 0;
              }
              40% {
                opacity: 0.6;
              }
              100% {
                opacity: 1;
              }
            }
            @keyframes tracking-in-expand {
              0% {
                letter-spacing: -0.5em;
                opacity: 0;
              }
              40% {
                opacity: 0.6;
              }
              100% {
                opacity: 1;
              }
            }

            h5{
              text-align: center;
              margin: 5%;
          }
          
          

.header__fondonav{
    background-color: #0d6efd;
    
}
.header__imgtamano{
    width: 10%;
}

.header__slide-in-right {
	-webkit-animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes header__slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

.header__formato{
    color:#20d638;
    font-size: 25px;
}


.main__imgcarrusa{  
    height: 70vh;
    width: 100vh;
    object-fit:cover;
  }


.main__introduccion{
    text-align: justify;
    margin: 5%;

}
.main__indexvideo{
    width:100%;
    height: 300%;
    text-align: center;
   
   }
  
.main__seccion{
    margin-top: 25vh;
    margin-bottom: 20vh;
    text-align: center;
}
.main__mapa {
  width: 100%;
  height: 100%;
  
}
.main__textarea{
    width: 90%;
    text-align: center;
}
.main__formu{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  padding: 20px;
  margin: 20px;
  display: inline-block;
}

.main__label{
  border: solid black;
  background-color: rgba(255, 236, 174, 0.678);
}
.main__fotostamano{
  width: 60vh;
  height: 60vh;
  text-align: center;
  

}
.main__fotoscontainer{
  text-align: center;
  margin-bottom: 10%;
  
  
}
.main__carta{
  text-align: justify;
}
.main__contenedor{
  justify-content: space-around;
  margin-bottom: 5%;
}
.main__foto{
  width:100%;
}


.main__parrafostarifas{
  text-align: justify;
  font-size: 20px;
}
.main__seccionvuelos{
  margin-top: 90px;
  margin-bottom: 90px;
}
.main__seccionvuelos h3{
  text-align: center;
}
.main__ubicaciones{
  text-align: center;
  justify-content: center;
    
}


.footer{
  text-align: center;
  align-items: center;
  
  padding-bottom: 10%;
}
.footer__pie{    
   width: 10%;
   text-align: center;
   padding: 0;
   margin: 0;
}


 /*&__mapas1{
      width: 90%;
      height: 600px;
      border: solid, blue;
      padding: 3%;
        
    }

      
    &__mapas1--__mapas2{
      @extend .main__mapas1;
      border-radius: 10%;
    
        
    }