*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/fondo2.jpeg);
    object-fit: cover;
    background-attachment: fixed;
    
}
.fondonav{
    background-color: #0d6efd;
    
}
.tamano{
    width: 10%;
}
.imgcarrusa{
    height: 70vh;
    width: 100vh;
    object-fit:contain;
}
.formato{
    color:#20d638;
    font-size: 25px;
}
.titulo{
    text-align: center;
    color: rgba(12, 11, 11, 0.65);
    letter-spacing: 2px;
    text-shadow: 10px 10px 10px rgb(32, 31, 31);
}
.mapa {
    width: 100%;
    height: 100%;
    
}
.introduccion{
    text-align: justify;
    margin: 5%;

}
.indexvideo{
    width:100%;
    height: 100%;
    text-align: center;
   
   }
  
.seccion{
    margin-top: 25vh;
    margin-bottom: 20vh;
    text-align: center;
    

}
.textarea{
    width: 90%;
    text-align: center;
}
.pie{    
   width: 10%;
   text-align: center;
   padding: 0;
   margin: 0;
}
.cont{
    text-align: center;
    align-items: center;
    
    padding-bottom: 10%;
}
.foto{
    width:100%;
}
.formu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding: 20px;
    margin: 20px;
    display: inline-block;
}


.label{
    border: solid black;
    background-color: rgba(255, 236, 174, 0.678);
}
.parrafostarifas{
    text-align: justify;
    font-size: 20px;
}
.seccionvuelos{
    margin-top: 90px;
    margin-bottom: 90px;
}
.seccionvuelos h3{
    text-align: center;
}
.fotostamano{
    width: 60vh;
    height: 60vh;
    text-align: center;
    

}
.fotoscontainer{
    text-align: center;
    margin-bottom: 10%;
    
    
}
h5{
    text-align: center;
    margin: 5%;
}


.carta{
    text-align: justify;
}
.contenedor{
    justify-content: space-around;
    margin-bottom: 5%;
}
.ubicaciones{
        text-align: center;
        justify-content: center;
        
        
}

