$estilos: (
  colorfondo: coral,
  color: lightblue,
  fuentetexto: 1.5rem,
);
.main{

      &__texto{
        background-color: map-get($map: $estilos, $key:colorfondo );
        color: map-get($map: $estilos, $key:color );
        font-size: map-get($map: $estilos, $key:fuentetexto );

      }
  
      &__imgcarrusa{  
        height: 70vh;
        width: 100vh;
        object-fit:cover;
      }
    
    
    &__introduccion{
        text-align: justify;
        margin: 5%;
    
    }
    &__indexvideo{
        width:90%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block
       
       }
      
    &__seccion{
        margin-top: 25vh;
        margin-bottom: 20vh;
        text-align: center;
    }
    &__mapa {
      width: 100%;
      height: 100%;
      
    }
    &__textarea{
        width: 90%;
        text-align: center;
    }
    &__formu{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
      padding: 20px;
      margin: 20px;
      display: inline-block;
    }
    
    &__label{
      border: solid black;
      background-color: rgba(255, 236, 174, 0.678);
      }

    &__label--__parrafostarifas{
      @extend .main__label;
      text-align: justify;
      font-size: 20px;
    }
    
    &__fotostamano{
      width: 60vh;
      height: 60vh;
      text-align: center;
      
    
    }
    &__fotoscontainer{
      text-align: center;
      margin-bottom: 10%;
      
      
    }
    &__carta{
      text-align: justify;
    }
    &__contenedor{
      justify-content: space-around;
      margin-bottom: 5%;
    }
    &__foto{
      width:100%;
    }
    
    
    
    &__seccionvuelos{
      margin-top: 90px;
      margin-bottom: 90px;
    }
    &__seccionvuelos h3{
      text-align: center;
    }
    &__ubicaciones{
      text-align: center;
      justify-content: center;
        
    }

    @mixin sizes ($width, $height) {
      height: $height;
      width: $width;
          }
    &__mapas1 &__mapas2{
      @include sizes(90%, 600px);  
    }

        
  }
   

